.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  padding: 0 0 150px;
}

.details__header {
  padding: 150px 0 0;
  height: 100px;
  object-fit: contain;
}

.details__text {
  font-size: 30px;
  line-height: 37px;
  width: 40%;
  margin: 50px 0 0 0;
}

@media screen and (max-width: 1700px) {
  .details {
    height: 100vh;
    padding: 0;
  }

  .details__header {
    height: 90px;
    padding: 120px 0 0;
  }

  .details__text {
    font-size: 24px;
    line-height: 30px;
    width: 55%;
    margin: 50px 0 0 0;
  }
}

@media screen and (max-width: 1300px) {
  .details {
    padding: 80px 0;
    height: 100%;
  }
  
  .details__header {
    height: 60px;
    padding: 0;
  }
  
  .details__cloud {
    width: 650px;
    height: 600px;
    bottom: -300px;
    right: -100px;
  }
  
  .details__text {
    font-size: 20px;
    line-height: 26px;
    width: 60%;
    margin: 30px 0 0 0;
  }
}

@media screen and (max-width: 700px) {
  .details {
    padding: 60px 0;
  }

  .details__header {
    height: 50px;
    margin: 0 0 10PX;
  }

  .details__cloud {
    width: 450px;
    height: 400px;
    bottom: 000px;
    right: -200px;
  }

  .details__text {
    font-size: 16px;
    line-height: 20px;
    width: 80%;
    margin: 15px 0;
  }
}
