.info-date {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-date__invitation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.info-date__who {
  width: 600px;
  object-fit: contain;
  margin: 200px 0 0;
}

.info-date__text {
  font-size: 38px;
  line-height: 50px;
  margin: 50px 0 0;
}

.info-date__info {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin: calc(100vh / 6) 0 0;
}

.info-date__block-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info-date__text_position_right {
  text-align: end;
  font-size: 34px;
}

.info-date__text_position_left {
  text-align: start;
  font-size: 34px;
}

.info-date__where_position_left {
  width: min-content;
}

.info-date__flower {
  height: 320px;
  object-fit: contain;
}

.info-date__place {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.info-date__check-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 400px;
  margin: 0;
  position: relative;
  width: 100%;
  padding: 150px 0;
  background-color: #fff;
}

.info-date__where {
  height: 110px;
  object-fit: contain;
}

.info-date__map {
  width: 600px;
  height: 600px;
  margin: 0;
  z-index: 3;
}

.info-date__with-map {
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
}

.info-date__flower-map {
  position: absolute;
  top: 0;
  left: -240px;
  height: 600px;
  object-fit: contain;
}

.info-date__flower-map-white {
  position: absolute;
  top: 0;
  right: -240px;
  height: 600px;
  object-fit: contain;
}

.info-date__check-in_color_grey {
  background-color: #dce2eb;
}

@media screen and (max-width: 1700px) {
  .info-date__who {
    width: 450px;
    margin: 120px 0 20px;
  }
  
  .info-date__text {
    font-size: 28px;
    line-height: 32px;
    margin: 20px 0 0;
  }

  .info-date__info {
    margin: calc(100vh / 7) 0 0;
  }

  .info-date__text_position_right {
    font-size: 24px;
  }
  
  .info-date__text_position_left {
    font-size: 24px;
  }

  .info-date__flower {
  height: 300px;
  }
  
  .info-date__check-in {
    gap: 200px;
    height: 100vh;
    padding: 0;
  }

  .info-date__where {
    height: 90px;
  }

  .info-date__map {
    width: 400px;
    height: 400px;
  }

  .info-date__with-map {
    height: 400px;
  }

  .info-date__flower-map {
    left: -160px;
    height: 400px;
  }

  .info-date__flower-map-white {
    right: -160px;
    height: 400px;
  }
}

@media screen and (max-width: 1300px) {
  .info-date__who {
    width: 350px;
    margin: 100px 0 40px;
  }

  .info-date__text {
    font-size: 24px;
    line-height: 30px;
    margin: 10px 0 0;
  }

  .info-date__text_position_right {
    font-size: 20px;
  }
  
  .info-date__text_position_left {
    font-size: 20px;
  }

  .info-date__flower {
  height: 250px;
  }

  .info-date__info {
    margin: calc(100vh / 7) 0 0;
  }
  
  .info-date__check-in {
    gap: 150px;
    padding: 0;
  }

  .info-date__map {
    width: 350px;
    height: 350px;
  }

  .info-date__with-map {
    height: 350px;
  }

  .info-date__flower-map {
    left: -140px;
    height: 350px;
  }

  .info-date__flower-map-white {
    right: -140px;
    height: 350px;
  }

  .info-date__where {
    height: 70px;
  }
}

@media screen and (max-width: 1300px) and (orientation:portrait) {
  .info-date__invitation {
    max-height: 800px;
  }

  .info-date__info {
    margin: 150px 0 0;
  }

  .info-date__check-in {
    max-height: 800px;
  }
}

@media screen and (max-width: 900px) {
  .info-date__who {
    width: 300px;
    margin: 90px 0 20px;
  }

  .info-date__text {
    font-size: 20px;
    line-height: 26px;
  }

  .info-date__text_position_right {
    font-size: 18px;
  }
  
  .info-date__text_position_left {
    font-size: 18px;
  }

  .info-date__flower {
    height: 200px;
  }
  
  .info-date__check-in {
    gap: 130px;
  }

  .info-date__map {
    width: 300px;
    height: 300px;
  }

  .info-date__with-map {
    height: 300px;
  }

  .info-date__flower-map {
    left: -110px;
    height: 300px;
  }

  .info-date__flower-map-white {
    right: -110px;
    height: 300px;
  }

  .info-date__where {
    height: 60px;
  }
}

@media screen and (max-width: 950px) {
  .info-date__check-in {
    flex-direction: column;
    height: 100%;
    padding: 70px 0;
    gap: 40px;
  }

  .info-date__text_position_right {
    text-align: center;
    font-size: 16px;
  }
  
  .info-date__text_position_left {
    font-size: 16px;
    text-align: center;
  }

  .info-date__check-in_color_grey {
    flex-direction: column-reverse;
  }

  .info-date__info {
    flex-direction: column;
    margin: 50px;
    gap: 35px;
  }
}

@media screen and (max-width: 500px) {
  .info-date__who {
    width: 270px;
    margin: 70px 0 20px;
  }

  .info-date__flower {
    height: 170px;
  }

  .info-date__map {
    width: 240px;
    height: 240px;
    transform: translateX(25px);
  }

  .info-date__map-left {
    transform: translateX(-25px);
  }

  .info-date__with-map {
    height: 240px;
  }

  .info-date__flower-map {
    left: -70px;
    height: 240px;
  }

  .info-date__flower-map-white {
    right: -70px;
    height: 240px;
  }
}