.footer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 50px;
  margin: 0 0 150px;
  position: relative;
}

.footer__text {
  font-size: 30px;
  margin: 200px 0 0;
}

.footer__names {
  height: 200px;
  object-fit: contain;
  margin: 100px 0 0;
}

@media screen and (max-width: 1700px) {
  .footer {
    margin: 70px 0 100px;
  }

  .footer__text {
    font-size: 24px;
    margin: 120px 0 0;
  }

  .footer__names {
    height: 160px;
    margin: 30px 0 0;
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    margin: 80px 0 70px;
  }

  .footer__text {
    font-size: 20px;
    margin: 90px 0 0;
  }

  .footer__names {
    height: 120px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    margin: 70px 0 50px;
  }
  
  .footer__text {
    font-size: 16px;
    margin: 40px 0 0;
  }

  .footer__names {
    height: 90px;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 70px 0 50px;
  }
  
  .footer__text {
    font-size: 16px;
    margin: 0;
  }

  .footer__names {
    height: 90px;
    margin: 0;
  }
}

